body {
    font-family: Gilroy;
    background-color: white;
    color: #212730;
    font-size: 20px;
    line-height: 160%;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    margin: 0 auto;
    width: auto;
}

/* Navbar (sit on top) */
.nav_component {
    display: flex;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: hidden;
    width: 100%;
    height: 6rem;
    /* 96px */
    padding: 0 2.5rem;
    /* 40px */
    background-color: transparent;
}

.nav_container {
    display: flex;
    width: 100%;
    max-width: 73.5rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    max-width: 100%;
}

.nav_link-wrapper {
    display: flex;
    width: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

.nav_Link {
    margin-right: 20px;
    padding: 20px;
}

.nav_Link a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.nav_Link a:hover {
    color: var(--medium-aquamarine);
}

.nav_button-wrapper {
    display: flex;
    width: auto;
}

.button-nav {
    padding: 12px 46px;
    border: 1px solid var(--medium-aquamarine);
    border-radius: 4px;
    background-color: var(--medium-aquamarine);
    color: var(--white);
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.button-nav:hover {
    background-color: white;
    color: var(--medium-aquamarine);
}

/* For everything blocks */
.main-wrapper {
    display: flex;
    flex-direction: column; 
    width: auto;
    justify-content: center; 
}

/* The second section Grow yourself */

.section-home-header {
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: transparent;
}

.page-padding {
    padding: 0 2.5rem;
}

.container-large {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 73.25rem;
    /* 1172px */
}

.padding-vertical {
    padding: 8rem 0 6rem 0;
    /* 128px 96px */
}

.home-header_component {
    display: flex;
}

.home-header_grid {
    display: grid;
    justify-items: stretch;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.home-header_content-left .home-header_content-right {
    display: grid;
    position: auto;
    align-content: center;
    justify-content: center;
}

.margin-small {
    margin-bottom: 1rem;
}

.margin-medium {
    margin-bottom: 2rem;
}

.margin-large {
    margin-bottom: 4rem;
}

.anim-wrap {
    overflow: hidden;
}

.text-size-medium {
    color: #3fba96;
    font-size: 24px;
    font-weight: 500;
}

.Heading1 {
    margin: 0 0;
    font-size: 62px;
    line-height: 120%;
}

.paragraph-normal {
    margin-bottom: 0;
    font-weight: 400;
}

.header-form-wrapper,
.header-form-block {
    display: grid;
}

.header-form-block {
    margin-bottom: 15px;
}

.header-form {
    display: grid;
    position: relative;  /* relative to main-wrapper */
}

input[type=gsearch] {
    width: 100%; 
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    height: 60px;
    margin: 0;
    padding: 0 12px 0 40px;
    background-image: url('../images/search_icon.png');
    background-position: 16px auto 0% 12px;
    background-repeat: no-repeat;
    font-size: 20px;
}

input[type=gsearch]:focus {
    border: 1px solid lightskyblue; 
}

input[type=button] {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    padding: 10px 60px;
    border-radius: 4px;
    background-color: #3fba96;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: none;
}

.grow_yourself {
    display: grid;
    width: 100%;
    max-width: 100%;
}

/* The third section Students get's job */
.section-home-job {
    background-color: transparent;
}

.job_component {
    display: flex;
    position: relative;  /* relative to the page-wrapper */
    margin-top: 0px;
    border-radius: 0px;
}

.job-grid {
    display: grid;
    justify-items: stretch;
    justify-content: stretch;
    grid-auto-columns: 1fr;
    gap: 3.25rem;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: auto;
}

.job-left-item .job-right-item {
    display: grid;
    position: auto;
    align-content: auto;
    justify-content: auto;
}

.job-image {
    display: grid;
    width: auto;
    max-width: 100%;
}

.Heading2 {
    margin: 0 0;
    font-size: 48px;
    line-height: 140%;
}

.button {
    padding: 18px 38px;
    border: 1px solid #3fba96;
    border-radius: 4px;
    background-color: #3fba96;
    color: white;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #3fba96;
}

/* The fourth section How it works */
.section-home-how-works {
    
}
