body {
    font-family: Gilroy;
    background-color: white;
    color: #212730;
    font-size: 20px;
    line-height: 160%;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    margin: 0 auto;
    width: auto;
}

/* Navbar (sit on top) */
.nav_component {
    display: flex;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    overflow: hidden;
    width: 100%;
    height: 6rem;
    /* 96px */
    background-color: transparent;
}

.nav_container {
    display: flex;
    width: 100%;
    max-width: 73.5rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    max-width: 100%;
}

.nav_link-wrapper {
    display: flex;
    width: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline-flex;
    /* I'm not sure in this property */
}

.nav_Link {
    margin-right: 20px;
    padding: 20px;
}

.nav_Link a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.nav_Link a:hover {
    color: var(--medium-aquamarine);
}

.nav_button-wrapper {
    display: flex;
    width: auto;
}

.button-nav {
    padding: 12px 46px;
    border: 1px solid var(--medium-aquamarine);
    border-radius: 4px;
    background-color: var(--medium-aquamarine);
    color: var(--white);
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.button-nav:hover {
    background-color: white;
    color: var(--medium-aquamarine);
}



/* For everything blocks */

.main-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}



/* The second section Grow yourself */

.section-home-header {
    padding-top: 4rem;
    padding-bottom: 0rem;
    background-color: transparent;
}

.page-padding {
    padding: 0 2.5rem;
}

.container-large {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 73.25rem;
    /* 1172px */
    justify-content: center;
}

.padding-vertical {
    padding: 8rem 0 6rem 0;
    /* 128px 96px */
    width: 100%;
    overflow: auto;
}

.home-header_grid {
    display: grid;
    justify-items: stretch;
    justify-content: space-between;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.home-header_content-left .home-header_content-right {
    /* These classes don't show in F12. Why? */
    /* Розберись чому не показує і не діють ці класи і потім обє'днай з .job-left-item .job-right-item Властивості однакові */
    display: grid;
    position: auto;
    align-content: center;
    justify-content: center;
}

.margin-small {
    margin-bottom: 1rem;
}

.margin-medium {
    margin-bottom: 2rem;
}

.margin-large {
    margin-bottom: 4rem;
}

.anim-wrap {
    overflow: hidden;
}

.text-size-medium {
    color: #3fba96;
    font-size: 24px;
    font-weight: 500;
}

.Heading1 {
    margin: 0 0;
    font-size: 62px;
    line-height: 120%;
}

.paragraph-normal {
    margin-bottom: 0;
    font-weight: 400;
    width: auto;
}

.header-form-wrapper,
.header-form-block {
    display: grid;
}

.header-form-block {
    margin-bottom: 15px;
}

.header-form {
    display: grid;
    position: relative;
    /* relative to main-wrapper */
}

input[type=gsearch] {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    height: 60px;
    margin: 0;
    padding: 0 12px 0 40px;
    background-image: url('../images/search_icon.png');
    background-position: 8px 16px;
    background-repeat: no-repeat;
    font-size: 20px;
}

input[type=gsearch]:focus {
    border: 1px solid lightskyblue;
}

input[type=gsearch]:placeholder {
    font-size: 20px;
    font-family: Gilroy;
    color: green;
}

input[type=button] {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    padding: 10px 60px;
    border-radius: 4px;
    background-color: #3fba96;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    border: none;
}

.grow_yourself {
    display: grid;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}



/* The third section Students get's job */
.section-home-job .section-home-how-works {
    background-color: transparent;
}

.job_component .query-component {
    display: flex;
    position: relative;
    /* relative to the page-wrapper */
    margin-top: 0px;
    border-radius: 0px;
}

.job-grid {
    display: grid;
    justify-items: stretch;
    justify-content: stretch;
    grid-auto-columns: 1fr;
    gap: 3.25rem;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: auto;
}

.job-left-item .job-right-item {
    /* These classes don't show in F12. Why? */
    display: grid;
    position: auto;
    align-content: center;
    justify-content: center;
}

.job-image {
    /* Об'єдную з класом .grow_yourself (ті ж самі властивості) і весь макет пливе і порушується. Чому? */
    display: grid;
    width: auto;
    max-width: 100%;
}

.Heading2 {
    margin: 0 0;
    font-size: 48px;
    line-height: 140%;
}

.button {
    padding: 18px 38px;
    border: 1px solid #3fba96;
    border-radius: 4px;
    background-color: #3fba96;
    color: white;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #3fba96;
}



/* The fourth section How it works */
.how-works-component {
    position: relative;
    /* relative to the page-wrapper */
    margin-top: 0px;
    background-color: white;
}

.how-works-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 452px;
    margin: 0 auto;
    text-align: center;
}

.how-works-grid {
    display: grid;
    justify-items: stretch;
    justify-content: stretch;
    grid-auto-columns: 1fr;
    gap: 16px;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: auto;
}

.how-works-item-left {
    display: grid;
    position: auto;
    align-content: auto;
    justify-content: auto;
}

.how-works-item-right {
    display: grid;
    position: auto;
    align-content: center;
    justify-content: center;
}

.how-works-card {
    display: flex;
    margin-bottom: 32px;
    padding: 32px 22px;
    align-items: flex-start;
    border-radius: 12px;
    background-color: white;
    box-shadow: 37px 47px 80px 20px rgba(115, 137, 149, 0.52);
}

.how-works-card2 {
    display: flex;
    margin-bottom: 32px;
    padding: 32px 22px;
    align-items: flex-start;
    border-radius: 12px;
    background-color: white;
}

.works-card-image {
    display: flex;
    max-width: 100%;
}

.works-card-content {
    margin-left: 16px;
}

.Heading3 {
    margin: 0 0;
    font-size: 28px;
    line-height: 140%;
}

/* The fifth section Popular courses */
.section-home-popular-courses {
    background-color: transparent;
}

.popular-courses-component {
    position: relative;
    margin-top: 0px;
}

.popular-courses-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 452px;
    margin: 0 auto;
    text-align: center;
}

.popular-courses-slider .popular-courses-mask {
    display: flex;
    position: relative;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    width: auto;
    align-items: center;
}

.popular-courses-slide {
    height: 100%;
    max-width: 306px;
    margin-right: 40px;
    padding-left: 0;
}

.popular-courses-slide-item {
    margin-left: 0px;
    padding: 20px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}

.Heading4 {
    margin: 0 0;
    font-size: 18px;
    height: 24px;
}

.course-card-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.card-review-price {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.review-image {
    max-width: 100%;
}

.price-text {
    color: #0a908a;
    font-size: 16px;
    font-weight: 500;
}

.student-text {
    margin-left: 6px;
    color: #514d4d;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

.slider-left .slider-right {
    /* -- Я не розумію, як тут винести ці блоки поза межі контейнера (щоб стрілки були за курсами) */
    position: relative;
    width: 80px;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
}

.left-arrow {
    /* -- Я не розумію, як тут винести ці блоки поза межі контейнера (щоб стрілки були за курсами) */
    display: flex;
    flex-direction: column;
    align-items: center;
    inset: 0% auto 0% -76px;
    top: 0%;
    bottom: 0%;
    right: auto;
    left: -76px;
    z-index: 3;
    cursor: pointer;
}

.right-arrow {
    /* -- Я не розумію, як тут винести ці блоки поза межі контейнера (щоб стрілки були за курсами) */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    left: auto;
    top: 0%;
    right: -76px;
    bottom: 0%;
    z-index: 4;
    cursor: pointer;
}

.div-block {
    display: flex;
    flex-direction: column;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: white;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.19);
}

/* The sixth section Query */
.section-home-query {
    position: relative;
    background-color: transparent;
}

.home-query-circle-bg {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    max-width: 100%;
    z-index: 1;
}

.query-grid {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0rem;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: auto;
}

.query-left-item {
    display: grid;
    position: auto;
}

.query-right-item {
    position: relative;
    z-index: 1;
    margin-left: -192px;
    padding-left: 0px;
}